body {
	height: 100%;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* body * {
  font-family:'Pixel', 'PT Root UI', 'Roboto', Arial, sans-serif;
}
 */

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: #e4e4e4;
	border-radius: 100px;
}

::-webkit-scrollbar-thumb {
	background-color: #52b788;
	border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #469f75;
	border-radius: 100px;
}

button {
	padding: 0;
	cursor: pointer;
}

@font-face {
	font-family: "Test1";
	src: url("./public/fonts/ms_sans_serif.woff2") format("woff2");
}

@font-face {
	font-family: "Test2";
	src: url("./public/fonts/basis33.ttf") format("truetype");
}

@font-face {
	font-family: "Test3";
	src: url("./public/fonts/Custom.ttf") format("truetype");
}

@font-face {
	font-family: "Test4";
	src: url("./public/fonts/Fifaks.ttf") format("truetype");
}

@font-face {
	font-family: "Pixel";
	src: url("./fonts/high.ttf") format("truetype");
}

@font-face {
	font-family: "Pixel1";
	src: url("./fonts/pixel.otf") format("opentype");
}

